#home_container{
    display: flex;
    #feed-posts{
        width: 75%;
        padding: 3rem;
    }
    #user-friends{
        width: 10%;
        padding: 3rem;
        height: 100%;
    }
}